<% form_for :book, :url => { :action => "update", :id => @book.id } do |book_form| %>
  <p>----------------------</p>

  <p>
    book.title: <%= book_form.text_field :title %>
  </p>

  <p>----------------------</p>

  <p>
    <% book_form.fields_for :author_attributes, @book.author do |author_form| %>
      book.author.name: <%= author_form.text_field :name %>
    <% end %>
  </p>

  <p>----------------------</p>

  <p>
    <% unless @book.pages.empty? %>
      <% book_form.fields_for :pages_attributes do |pages_form| %>
        book.pages:
        <% @book.pages.each_with_index do |page, index| %>
          <p>
            [<%= index %>]<br />
            <% pages_form.fields_for :"#{page.id}", page do |page_fields| %>
              <%= page_fields.text_area :text, :size => '60x4'%>
            <% end %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </p>

  <p>----------</p>

  <p>
    [new]<br />
    <% book_form.fields_for :pages_attributes do |pages_form| %>
      <% pages_form.fields_for :new_page do |page_fields| %>
        <%= page_fields.text_area :text, :size => '60x4'%>
      <% end %>
    <% end %>
  </p>

  <p>----------------------</p>

  <%= book_form.submit %>
<% end %>
